<section id="helpMeSection" class="big-section container-fluid">
    <div class="row h-100">
        <div class="order-2 col-12 order-lg-1 col-lg-6 d-flex flex-column justify-content-evenly text-center">
            <span id="helpNum" hidden aria-hidden="true">I</span>
            <p id="helpTxt" class="helpTxt">
                Lorem 1 dolor sit amet consectetur adipisicing elit. 
                Repudiandae, 1 provident vel praesentium voluptatem tenetur 1 temporibus 
                laudantium blanditiis itaque dolorem!
            </p>
            <div class="d-flex justify-content-around">
                <a href="#" id="back" class="btn btn-outline-secondary fs-4 blueBtn" hidden>BACK</a>
                <a href="#" id="next" class="btn btn-outline-success fs-4 blueBtn">NEXT</a>
            </div>
        </div>
        <div class="order-1 col-12 justify-content-center order-lg-2 col-lg-6 d-flex align-items-center">
            <img src="/public/images/help1.png" id="helpImg" alt="" class="img-fluid">
        </div>
    </div>
</section>
