<section id="helpMeSection" class="big-section container-fluid">
    <div class="row h-100">
        <div class="order-2 col-12 order-lg-1 col-lg-6 d-flex flex-column justify-content-evenly text-center">
            <span id="helpNum" hidden aria-hidden="true">I</span>
            <p id="helpTxt" class="helpTxt">
                If you want to see all the available recipes, click "All Recipes" button on the top of the website.
                If you want to choose ingredients you have and let us pick for you, please continue by clicking "Next" button.
            </p>
            <div class="d-flex justify-content-around">
                <a href="#" id="back" class="btn btn-outline-secondary fs-4 blueBtn" hidden>BACK</a>
                <a href="#" id="next" class="btn btn-outline-success fs-4 blueBtn">NEXT</a>
            </div>
        </div>
        <div class="order-1 col-12 justify-content-center order-lg-2 col-lg-6 d-flex align-items-center">
            <img src="/public/gifs/AllRecipesgif.gif" id="helpImg" alt="" class="img-fluid">
        </div>
    </div>
</section>
