<section class="big-section container-fluid">
    <div class="row text-center h-100">
        <div class="d-flex flex-column justify-content-evenly">
            <h1 id="pageTitle">Pick Your Meal</h1>
            <div class="d-flex flex-column flex-sm-row justify-content-around">
                <a href="/helpMe"class="btn btn-outline-secondary fs-4 my-1 blueBtnHome">HELP</a> 
                <a href="/pickMyMeal" class="btn btn-outline-success fs-4 my-1 blueBtnHome">START</a>
            </div>
        </div>
    </div>
</section>