<nav class="navbar navbar-light navbar-expand-lg mb-auto">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row" id="navbarLinks">
      <div class="navbar-nav row p-0 m-0">
        <div class="col-6 d-flex flex-column flex-lg-row">
          <a href="/" class="nav-link mt-2 me-1 p-1 mt-lg-0 p-lg-2">Home</a>
          <a href="/helpMe" class="nav-link p-1 mx-1 p-lg-2">How To Use</a>
          <a href="/pickMyMeal" class="nav-link p-1 mx-1 p-lg-2">Pick Your Meal</a>
          <a href="/allRecipes" class="nav-link ms-1 p-1 p-lg-2">All Recipes</a>
        </div>
        <div class="col-6 d-flex justify-content-start justify-content-lg-end">
          <a class="nav-link me-1 px-2" href="https://www.facebook.com/" target="_blank", rel="noreferrer noopener"><img src="/public/images/icons8-facebook.svg" alt="Facebook link"></a>
          <a class="nav-link ms-1 px-2" href="https://www.instagram.com/" target="_blank", rel="noreferrer noopener"><img src="/public/images/icons8-instagram.svg" alt="Instagram link"></a>
        </div>
      </div>
    </div>
  </div>
</nav>